{% extends "base.j2" %}

{% block title_overwrite %}{% endblock %}

{% block title %}{{ blog.title | escape }} -&gt; {{ post.title | escape }}{% endblock %}

{% block description %}{{ post.title | escape }} by @{{ blog.username | escape }} at {{ post.posted }} GMT -- {{ post.description | escape }}{% endblock %}

{% block lang %}{{ blog.locale.split("_", maxsplit=1)[0].lower() }}{% endblock %}

{% block head %}
<link rel="icon" href="/favicon.ico" sizes="128x128" type="image/x-icon" />
<meta name="keywords" content="ari-web, login, authentication, services, free, {{ blog.username | escape }}, {{ blog.keywords | escape }}" />

<meta property="og:type" content="article" />
<meta property="article:read_time" content="{{ post.read_time() }}" />

<meta name="color-scheme" content="dark" />
<meta name="theme-color" content="{{ blog.primary | escape }}" />
<style>body{background-color:{{ blog.primary | escape }};color:{{ blog.secondary | escape }}};nav img{height:1em}</style>

<link rel="manifest" href="@{{ blog.username | escape }}/manifest.json" />

<link rel="canonical" href="{{ request.url }}">
<meta name="author" content="@{{ blog.username | escape }}" />
<meta name="generator" content="ari-web accounts and services" />
<meta property="og:locale" content="{{ blog.locale | escape }}" />

<link rel="alternate" href="robots.txt" />

<link rel="sitemap" href="sitemap.xml" type="application/xml">

{% if style %}
<style>@import url("data:text/css;base64,{{ b64(min_css(style)) }}")</style>
{% endif %}
{% endblock %}

{% block body %}
<header role="group">
    <h1 role="heading" aria-level="1">{{ post.title | escape }}</h1>

    <nav id="info-bar" role="menubar">
        <a role="menuitem"
          aria-label="skip"
          href="#main">skip</a>
        <span role="seperator" aria-hidden="true"> | </span>

        {% if blog.visitor_url %}
        <span role="menuitem">visitor <img src="{{ blog.visitor_url | escape }}" alt="visitor count" /></span>
        <span role="seperator" aria-hidden="true"> | </span>
        {% endif %}

        <span role="menuitem"><time>{{ post.read_time() }}</time> read</span>

        {% if post.posted != post.edited %}
        <span role="seperator" aria-hidden="true"> | </span>
        <span role="menuitem">edited at <time>{{ post.edited }}</time> GMT</span>
        {% endif %}

        <br role="seperator" aria-hidden="true" />

        <a role="menuitem" href=".">home</a>
        <span role="seperator" aria-hidden="true"> | </span>

        <a role="menuitem" href="stats">stats</a>
        <span role="seperator" aria-hidden="true"> | </span>

        {% if blog.comment_url %}
        <a role="menuitem" href="{{ blog.comment_url | escape }}">comment</a>
        <span role="seperator" aria-hidden="true"> | </span>
        {% endif %}

        <a role="menuitem" href="rss.xml">rss</a>
        <span role="seperator" aria-hidden="true"> | </span>

        <a role="menuitem" href="manifest.json">manifest</a>
        <span role="seperator" aria-hidden="true"> | </span>

        {% if blog.style %}
        <a role="menuitem" href="theme.txt">theme</a>
        <span role="seperator" aria-hidden="true"> | </span>
        {% endif %}

        <a role="menuitem" href="/">ari-web</a>

        {% if current_user.is_authenticated and current_user.username == blog.username %}
        <br role="seperator" aria-hidden="true" />
        <a role="menuitem" href="{{ request.url }}/~delete">delete</a>

        <span role="seperator" aria-hidden="true"> | </span>
        <a role="menuitem" href="{{ request.url }}/~edit">edit</a>
        {% endif %}

        <hr aria-hidden="true" role="seperator" />
    </nav>
</header>
<main><article id="main">{{ post.markdown() }}</article></main>
<footer><p>{% if blog.username != config["OWNER_USER"] %}@{{ blog.username | escape }} + {% endif %}Ari Archer &lt;<a href="mailto:ari.web.xyz@gmail.com">ari.web.xyz@gmail.com</a>&gt; + GPL-3.0-or-later</p></footer>
{% endblock %}
