{% extends "base.j2" %}

{% block title %}Counter{% endblock %}

{% block description %}manage counters{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for("static", filename="css/sign.css")}}" />{% endblock %}

{% block body %}
<h1>manage counter {{ counter.name | escape }}</h1>

<form method="POST">
    <fieldset>
        <legend>values</legend>

        <div class="form-group">
            <label for="name">name</label>
            <input required type="text" maxlength="{{ name_len }}" id="name" minlength="1" name="name" placeholder="name of the counter" value="{{ counter.name | escape }}" />
        </div>

        <div class="form-group">
            <label for="count">count</label>
            <input required type="number" inputmode="numeric" id="count" minlength="1" maxlength="64" name="count" placeholder="value of the counter" value="{{ counter.count }}" />
        </div>

        <div class="form-group">
            <label for="origins">origins ( <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin" target="_blank">docs</a> )</label>
            <input required type="text" id="origins" minlength="1" maxlength="{{ origins_len }}" name="origins" placeholder="access origins of this counter" value="{{ counter.origins | escape }}" />
        </div>

        <div id=captcha class="captcha">
            {% if c is not none %}
            {{ c.image() }} {{ c.audio() }}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="code">CAPTCHA</label>
            <input required type="text" id="code" name="code" placeholder="enter the CAPTCHA above" />
        </div>

        <button type="submit">commit</button>
    </fieldset>
</form>
{% include "captcha.j2" %}
{% endblock %}
