{% extends "base.j2" %}

{% block title %}Counter -&gt; Manage{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for("static", filename="css/sign.css")}}" />{% endblock %}

{% block description %}manage counter{% endblock %}

{% block body %}
<h1>manage counter {{ counter.name | escape }}</h1>

<form method="POST">
    <fieldset>
        <legend>manage counter</legend>

        <div class="form-group">
            <label for="name">name</label>
            <input required type="text" maxlength="{{ name_len }}" id="name" minlength="1" name="name" placeholder="name of the counter" value="{{ counter.name | escape }}" />
        </div>

        <div class="form-group">
            <label for="origin">origin, <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin">docs</a></label>
            <input required type="text" id="origin" minlength="1" maxlength="{{ origin_len }}" name="origin" placeholder="origin which can access this counter" value="{{ counter.origin | escape }}" />
        </div>

        <div class="form-group">
            <label for="count">count</label>
            <input required type="number" inputmode="numeric" id="count" minlength="1" name="count" placeholder="initial value of the counter" value="{{ counter.count }}" />
        </div>

        <div id=captcha class="captcha">
            {% if c is not none %}
            {{ c.image() }} {{ c.audio() }}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="code">CAPTCHA</label>
            <input required type="text" id="code" name="code" placeholder="enter the CAPTCHA above" />
        </div>

        <button type="submit">commit</button>
    </fieldset>
</form>

<p>or you can <a href="{{ counter.id }}/delete">delete this counter</a></p>

{% include "captcha.j2" %}
{% endblock %}
