{% extends "base.j2" %}

{% block description %}ari-web accounts and services{% endblock %}

{% block body %}
<h1><a href="/">ari-web</a> accounts and services</h1>

<a href="{{ url_for("auth.signup") }}">sign up</a>
<a href="{{ url_for("auth.signin") }}">sign in</a>
<a href="{{ url_for("auth.signout") }}">sign out</a>
{% endblock %}
