{% extends "base.j2" %}

{% block title %}Me{% endblock %}

{% block description %}ari-web accounts and services{% endblock %}

{% block body %}
<h1><a href="/">ari-web</a> accounts and services ( work in progress )</h1>

<a href="{{ url_for("auth.signup") }}">sign up</a>
<a href="{{ url_for("auth.signin") }}">sign in</a>
<a href="/git">source code</a>

{% if current_user.is_authenticated %}
<a href="{{ url_for("auth.delete") }}">delete account</a>
<a href="{{ url_for("auth.signout") }}">sign out</a>
<a href="{{ url_for("auth.manage") }}">manage user</a>
<a href="{{ url_for("counter.index") }}">counters management</a>

{% if is_admin() %}
<a href="{{ url_for("admin.restore") }}">restore session</a>
<a href="{{ url_for("admin.clear") }}">clear session</a>
{% endif %}

{% if require_role(Role.mod) %}
<a href="{{ url_for("admin.index") }}">admin pannel</a>
{% endif %}

<p>currently logged in as {{ current_user.username | escape }}</p>
{% endif %}

<h2>users</h2>
<ul>
{% for user in users %}
<li><a href="/@{{ user.username | urlencode }}">{{ user.username | escape }}</a></li>
{% endfor %}
</ul>
{% endblock %}
