{% extends "base.j2" %}

{% block title %}@{{ current_user.username | escape }}{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for("static", filename="css/sign.css")}}" />{% endblock %}

{% block description %}manage user @{{ current_user.username | escape }}{% endblock %}

{% block body %}
<h1>manage {{ current_user.role.name }} {{ current_user.username | escape }}</h1>
<form method="POST">
    <fieldset>
        <legend>info</legend>

        {% if admin is none %}
        <div class="form-group">
            <label for="password_old">old password</label>
            <input inputmode="numeric" type="password" minlength="1" id="password_old" name="password_old" placeholder="old password ( required on password change )" />
        </div>
        {% endif %}

        <div class="form-group">
            <label for="pin">PIN</label>
            <input type="password" maxlength="{{ pin_len }}" minlength="1" id="pin" name="pin"
        {% if admin is none %}
            placeholder="pin ( required on password change )"
        {% else %}
            placeholder="pin ( pin change )"
        {% endif %}
            />
        </div>

        <div class="form-group">
        {% if admin is none %}
            <label for="password">new password</label>
        {% else %}
            <label for="password">password</label>
        {% endif %}

            <input
        {% if admin is none %}
            oninput="document.getElementById('password_old').required=document.getElementById('pin').required=(!!this.value)"
        {% endif %}
            type="password" minlength="1" id="password" name="password" placeholder="new password ( password change )" />
        </div>

        {% if admin is not none %}
        <div class="form-group">
            <label for="role">role</label>
            <select id="role" name="role">
                {% for role, value in e2j(Role).items() if value < admin.role.value %}
                <option value="{{ value }}" {{ "selected" if value == current_user.role.value else "" }}>{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="bio">bio</label>
            <textarea maxlength="{{ bio_len }}" name="bio" id="bio" placeholder="hi, i'm ...">{{ current_user.bio }}</textarea>
        </div>

        <div id=captcha class="captcha">
            {% if c is not none %}
            {{ c.image() }} {{ c.audio() }}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="code">CAPTCHA</label>
            <input required type="text" id="code" name="code" placeholder="enter the CAPTCHA above" />
        </div>

        <button type="submit">commit</button>
    </fieldset>
</form>
{% include "captcha.j2" %}
{% endblock %}

