{% extends "base.j2" %}

{% block title %}sign in{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for("static", filename="css/sign.css")}}" />{% endblock %}

{% block description %}sign into ari-web accounts and services{% endblock %}

{% block body %}
<h1>sign in</h1>
{{ c.code }}
<form method="POST">
    <fieldset>
        <legend>sign in</legend>

        <div class="form group">
            <label for="username">username</label>
            <input required type="text" maxlength="{{ username_len }}" id="username" minlength="1" name="username" placeholder="username" />
        </div>

        <div class="form group">
            <label for="password">password</label>
            <input required type="password" minlength="1" id="password" name="password" placeholder="password" />
        </div>

        <div class="form group">
            <label for="pin">PIN</label>
            <input inputmode="numeric" type="password" required maxlength="{{ pin_len }}" minlength="1" id="pin" name="pin" placeholder="PIN" />
        </div>

        <div id=captcha class="captcha">
            {% if c is not none %}
            {{ c.image() }} {{ c.audio() }}
            {% endif %}
        </div>

        <div class="form group">
            <label for="code">CAPTCHA</label>
            <input required type="text" id="code" name="code" placeholder="enter the CAPTCHA above" />
        </div>

        <button type="submit">sign in</button>
    </fieldset>
    <p>don't have an account ? <a href="{{ url_for("auth.signup") }}{{ "" if c is none else "?nojs" }}">sign up</a></p>
</form>
{% include "captcha.j2" %}
{% endblock %}
