{% extends "base.j2" %}

{% block title %}tos{% endblock %}

{% block description %}ari-web auth and services terms of service{% endblock %}

{% block body %}
<h1>terms of service</h1>

<p>
    this document establishes the terms of service for
    <a href="/">a.ari-web.xyz</a> . by accessing or using this website,
    you agree to comply with following terms and conditions .
    these apply to all aspects of this website, comprising, but not limited to,
    the content, source code, and any new material uploaded or created on this
    website
</p>

<p>
    these terms of service have been authorised by the website author,
    <a href="mailto:ari.web.xyz@gmail.com">Ari Archer &lt;ari.web.xyz@gmail.com&gt;</a>,
    and have been in effect since <time datetime="2023-11-11 20:00">2023/11/11 20:00 GMT</time>.
</p>

<h2 id="definitions"><a href="#definitions">#</a> definitions</h2>

<p>'this website', 'this platform' or 'the service' refers to <a href="/">a.ari-web.xyz</a></p>

<p>'the services' refers to any services provided by the website</p>

<p>'user' signifies any person making use of this website</p>

<p>
    references to 'the website author'
    pertain to <a href="mailto:ari.web.xyz@gmail.com">Ari Archer &lt;ari.web.xyz@gmail.com&gt;</a>
</p>

<p>
    anything along the lines of 'the author of the content' refers to the author of any content
    that was uploaded, created, published or similarly on the platform
</p>

<h2 id="licensing"><a href="#licensing">#</a> licensing</h2>

<p>
    all content - including but not limited to uploaded, utilized, and created
    on this website is under the <a href="https://www.gnu.org/licenses/gpl-3.0.html#license-text">GPLv3 license</a>,
    with the general implications being :
</p>

<ul>
    <li>
        you may copy, distribute and modify the content provided on
        or via this platform under the GPLv3 license
    </li>
    <li>
        all modifications of the original content must be openly
        shared with the same licensing terms, modifications may
        be automatically generated by the service, if not, you don't
        need to manually track them
    </li>
    <li>
        all re-publications or distributions must include the original
        copyright notice, disclaimer of warranty, and intact GPL notices
    </li>
    <li>
        you are prohibited from releasing any derivative work under
        a proprietary license, due to the 'copyleft' nature of the GPLv3
        license
    </li>
    <li>
        all derivative works will inherently hold the same license and can
        be freely used as long as they acknowledge the original source
    </li>
</ul>

<p>
    by using the services, you accept this license agreement
    and agree to adhere to its stipulations . failure to do so will
    result in the content being set to private only until the author
    of the content adheres to the licensing terms
</p>

<p>
    before you upload or publish any content on this website,
    you must hold sufficient rights to provide the license granted herein
</p>

<h2 id="privacy"><a href="#privacy">#</a> privacy</h2>

<p>
    this website highly values your privacy, the only data this website collects during
    your visit are those given at sign up or sign in, which includes :
</p>

<ul>
    <li>username, to serve as an identifier</li>
    <li>brief personal description ( 'about me', 'bio' )</li>
    <li>password hash and PIN hash ( both created via argon2 ) for secure authentication</li>
    <li>user's role for access rights</li>
    <li>user's limitation status, to limit user's rights and usage of the service if they're deemed to be abusing it</li>
    <li>
        details of any apps the user creates

        <ul>
            <li>app ID, name, publicity status</li>
            <li>app secret hash, for private apps, to provide authentication, derived using argon2</li>
            <li>app owner's username, to establish ownership</li>
        </ul>
    </li>
</ul>

<p>
    users have the right to request the deletion or invoke the deletion themselves
    of their data at any time
</p>

<h2 id="security"><a href="#security">#</a> security</h2>

<p>
    while this website attempts to adhere to the best security practices,
    it cannot guarantee absolute security, in the event of a detected breach,
    the website will be secured ( will be put under lockdown ) and
    users may be required to change their credentials
</p>

<h2 id="limiting"><a href="#limiting">#</a> limiting</h2>

<p>
    access to the service may be limited or restricted if a user
    is determined to be abusing the service . this can result in narrower
    usage limits, decreased access to specific services, or lower
    prioritization where pertinent
</p>

<p>
    to avoid being identified as an abuser of the service, users must
    adhere to the terms of service, refrain from engaging in spam activities,
    comply with the limits set upon your usage, and contribute to a positive community
    environment . expressing diverse opinions and viewpoints is welcomed, even on
    controversial matters, provided it's factually based and does not breach these
    terms of service
</p>

<h2 id="content"><a href="#content">#</a> content</h2>

<p>
    all shared content must respect copyrights and other intellectual property
    rights, be factually correct and not misleading . any discovered content
    infringing these rules will be removed without notice,
    and the responsible account may be terminated .  all content is required to
    obey german and european laws
</p>


<h2 id="liability"><a href="#liability">#</a> limitation of liability</h2>

<p>
    neither this website nor its author, Ari Archer,
    can be held responsible for any damages resulting from downloading material from this site,
    infringing intellectual property rights, spreading false or misleading information, data loss or altering,
    or similar activities . infringing material will be promptly removed, and if necessary, the author
    of the material expunged entirely from the site, although lost data cannot be recovered
</p>


<h2 id="modification"><a href="#modification">#</a> modification of terms</h2>

<p>
    the website author reserves the right to amend, revise, or otherwise modify these terms of service at any time .
    any such changes will be indicated by an updated effective date at the top of this page .
    your continued access to this website signifies your agreement to these terms of service after any modifications
    have been made
</p>

<p>
    you are encouraged to review these terms of service periodically,
    and contact the website author if you have any queries
</p>

<h2 id="termination"><a href="#termination">#</a> termination</h2>

<p>
    the website author reserves the right to terminate your access
    to the website for any reason, including for breach of these terms of service .
    users may also terminate their own access to the service by discontinuing
    use of the website
</p>

<h2 id="dispute"><a href="#dispute">#</a> dispute resolution</h2>

<p>
    any disputes or issues connected to the service are not the responsibility of the website author,
    the service provider or the website overall . participants of any disagreement are expected to handle
    the situation privately and in a manner that does not involve or damage the reputation of the website
    or its author . users are encouraged to engage in peaceful resolution practices to ensure a
    positive user experience for all
</p>

<h2 id="guarantee"><a href="#guarantee">#</a> guarantee</h2>

<p>
    the use of <a href="/">a.ari-web.xyz</a> is at your sole risk .
    the website author makes no warranties or guarantees about the safety, reliability,
    availability, and performance of the website . as a user, you agree to assume all risk
    for any damages that may result from your use of the website, including data loss or exposure
</p>

<h2 id="minors"><a href="#minors">#</a> minors</h2>

<p>
    this website is open to users of all ages . please note that <a href="/">a.ari-web.xyz</a> does not collect
    any personally identifiable data, and the only cookie it stores is an authentication and
    session storage cookie
</p>

<h2 id="accountability"><a href="#accountability">#</a> accountability for online actions, behavior, and conduct</h2>

<p>
    the user is responsible for their behavior on the platform . any user found engaging
    in activities that violate these terms or any applicable laws may have their access
    to the website terminated . such activities may include harassing other users,
    spreading false information, or infracting copyright laws
</p>

<h2 id="payment"><a href="#payment">#</a> payment</h2>

<p>
    currently, the service provided by the website is free of charge .
    should the website author decide to implement paid features
    or monetization through advertisements in the future, users will be notified
    and given the opportunity to agree to these changes .
    any user who does not agree with the introduced changes may continue using the
    website free of charge, ads and paid features .
</p>

<h2 id="access"><a href="#access">#</a> access</h2>

<p>
    this service grants you the right to access any endpoint or resource available on the platform,
    subject to your own discretion . please be advised, for security and resource management reasons,
    certain sections of the service have been shielded with CAPTCHA protection . under such circumstances,
    it's recommended to utilize the application interface and application programming interface ( API ) for gaining access .
    there might be occasions where an API or app interface isn't provided for a specific feature, determined as unnecessary
    for automated use . despite this, you are allowed to use web scraping techniques and other methods,
    should you wish to unofficially access these protected features . please note, however, the website has the
    right to enforce usage restrictions as necessary
</p>

<h2 id="ai"><a href="#ai">#</a> AI training and data usage</h2>

<p>
    any collection, processing, or usage of data from this website for the purpose of training
    artificial intelligence ( AI ) systems or for any other commercial purposes is strictly prohibited,
    unless given express approval . for mass data projects, consent must be granted by
    the owner of the service, the author of the content, and at least one administrator
    ( when available ) . for smaller scale projects, the permission of the content author
    will be sufficient if provided proof when asked . unauthorized data collection, especially on a larger scale,
    is considered a violation of these terms and will result in immediate termination of access
    rights to the website
</p>

<p>
    in case such permission is granted, it's the responsibility of the requesting party to ensure the
    data collected is anonymized, to respect and maintain the privacy of our users . consent for data usage can
    be rescinded at any time by the providing party, at which point, all data must be deleted
    and its use discontinued
</p>

<p>
    the service emphasizes the importance of information privacy and intellectual property rights and expect all users,
    including commercial entities, to respect these rights and abide by all aforementioned conditions
</p>
{% endblock %}
