{% extends "base.j2" %}

{% block title %}@{{ user.username | escape }}{% endblock %}

{% block description %}user {{ user.username | escape }} on ari-web{% endblock %}

{% block body %}
<h1>user {{ user.username | escape }}</h1>

{% if user.bio %}
<pre class="bio">{{ user.bio | escape }}</pre>
{% endif %}

<p>joined at <time>{{ user.joined }}</time> GMT</p>

<p>role : {{ user.role.name }}</p>

{% if user.apps %}
<h2>apps</h2>
{% for app in user.apps %}
<li><a href="{{ app.id }}">{{ app.name | escape }}</a></li>
{% endfor %}
{% endif %}

{% if user.blog %}
<a href="{{ url_for("blog.user_blog", user=user.username) }}">blog : {{ user.blog.title | escape }} | {{ user.blog.header | escape }}</a>
{% endif %}
{% endblock %}
